:root{
  --dark-green: #19381F;
  --lime-yellow: #EEE82C;
  --lime-green: #91CB3E;
  --reg-green: #53A548;
  --med-green: #4C934C;
  --white: #fff;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button{
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--dark-green);
  transition: all 300ms ease;
}

.button:hover{
  background-color: var(--reg-green);
}

.nav__bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 10px;
}

.nav__link--component{
  color: var(--dark-green);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 300ms ease;
}

.nav__link--component:hover{
  color: var(--med-green);
}

.company__logo{
  font-size: 20px;
  
}

.company__logo--link{
  color: var(--dark-green);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 300ms ease;
}

.company__logo--link:hover{
  color: var(--med-green);
}

.nav__link--component{
  margin-right: 15px;
}
